.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style:none;
    margin-right: 60px;
}

.menu-item{
    margin-right: 30px;
    a{
        text-decoration: none;
        color: $black;
    }

}

.menu-item-16{
    font-weight: bolder;
}