
.contact_form_container{
    height: 500px;
    width:100%;
    background-color: $light-grey;
    .contact_form{
        width: 450px;
        margin:auto;
        .contact_title{
            color:$dark-grey;
            font-size: 3 rem;
            text-transform: uppercase;
            text-align: center;
        } 
    }
}

.home_footer{
    display: flex;
    justify-content:center;
    .home_footer_logo{
        object-fit: cover;
        width: 10%; 
        height: 50%; 
        padding: 1rem;
        margin: auto 10px auto 10px;
    
        
    }
}