.home_header{
    position: relative;
    .home_header_banner{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto; 
        border-top: solid $green;
    }
    .home_header_logo{
        position: absolute;
        left: 20%;
        top: -30px;
        width: 13%;
        height: auto; 
    }
    .home_header_title{
        font-size: 50px;
        color: $white;
        position: absolute;
        bottom: 20px;
        text-align: left;
        left: 20%;
        right: 20%;
        .underline{
            border-bottom: 20px solid $green;
        }
    }

}

