.home_content{
    padding:1rem 0;
    margin: 0px auto 50px auto;
    font-family: 'Montserrat', sans-serif;
    @include responsive(tablet){
        display: flex;
        justify-content: space-between;
        width: 780px;
    }  
    .home_content_paragraphes{
        margin-top:2rem;
        padding:0 2em;
        @include responsive(tablet){
            width: calc(100% - 320px);
        }  
        .underline_grey{
            position: relative;
            display: inline-block;
                &:after{
            content: " ";
            position: absolute;
            display: block;
            bottom: 1px;
            width:100%;
            height: 7px;
            background-color: $light-grey;
            z-index:-1;
                }
        }
    }
    .home_content_img{
        display: block;
        margin-top: 50px;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        margin:auto;
        .home_content_img_item{
            height: 100%;
            width: auto;
            @include responsive(tablet){
                margin: 0 auto;
            }
        }   
    }
}

.home_content_squares{
    
    width: 100%;
    @include responsive(tablet){
        margin: 5% auto;
        display: flex;
        justify-content: space-between;
        width: 960px;
    } 
    .home_content_squares_items{
        width: 100%; 
        height: 270px; 
        text-align: center;
        background-color: $green;
        margin: 10px 0; 
        padding: 2rem;
        box-sizing: border-box;
        @include responsive(tablet){
            width: 32%;  
            margin: 0;
        }
        .home_content_squares_logo{
            display: block;
            margin: auto;
            width: 40px;
            height: 20%;
        }
        .home_content_squares_items_h2{
            display: block;
            font-size: 30px;
            color: $white;
            height: 40%;
        }
        .home_content_squares_items_button{
            text-decoration: none;
            display: inline-block;
            margin: auto;
            color: $dark-green;
            font-size: 18px;
            background: none;
            border: 2px solid $dark-green;
            padding:0.5rem 1rem;
            font-weight: 800;
        
        }
    }
}

.style{
    color: $green
}

.home_content_img_2{
        margin: auto;
        display: block;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
        
}

