.pratique_container{
    margin: 4em auto;
    width: 350px;
    text-align: left;
    h1{
        font-size: 30px;
        text-transform: uppercase;
    }
    p{
        font-size: 18px;
        .color{
            color:$green;
        }
    }
    @include responsive(tablet){
        text-align: left;
        width: 960px;
        margin:205px auto;
    }
    .pratique_container_box{
        margin: auto;
        margin-top: 2em;
        width: 80%;
        .underline{
            position: relative;
            display: inline-block;
                &:after{
            content: " ";
            position: absolute;
            display: block;
            bottom: 5px;
            width:100%;
            height:0.5vh;
            background-color: $green;
            z-index:-1;
                }
        }
        @include responsive(tablet){
            margin:40px 0;
        }
        h1{
            font-size: 16px;
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
        }
    }
}

.modeemploi_container{
    background-color: $green;
    .modeemploi_container2{
        padding: 2em 0;
        width: 350px;
        text-align: center;
        margin: auto;
        @include responsive(tablet){
            width: 960px;
          
        }
        h1{
            font-size: 30px;
            text-transform: uppercase;
            color:$white;
        }
        .modeemploi_container_box{
            margin: 50px auto;
            @include responsive(tablet){
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                flex-basis: 100%;
                flex: 2; 
            }
            .modeemploi_container_box_item{
                width: 60%;
                text-align: center;
                margin: 40px auto;
                @include responsive(tablet){
                    width: 35%;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                }
                .number{
                    background-color: $white;
                    border-radius: 50%;
                    width: 30px;
                    padding: 10px 15px;
                    @include responsive(tablet){
                        padding: 20px 25px;
                    }
                    color: $green;
                }
            }
           
        }
        .modeemploi_container_3{
            display: flex;
            flex-direction: row;
            border: 1px solid $white;
            height: 30px;
            width: 80%;
            margin: auto;
            
            .logo{
                display: block;
                margin: 0.5em;
                width: 30px;
            }
            p{
                color: $white;
                margin: 0.5em;
                font-size:10px;
                @include responsive(tablet){
                   font-size:14px;
                }
            }
        }

    }
}